@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #F2CA2F;
  color: #fff;
}
*::selection {
  background-color: #F2CA2F;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #F2CA2F;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #F2CA2F;
}

.overflowNone {
  overflow: hidden;
}

button {
  outline: none;
  border: 0px;
  background-color: transparent !important;
  background: transparent;
}

input,
.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.swiper-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 33px;
  height: 3px;
  background-color: rgba(13, 122, 116, 0.2);
  border-radius: 2px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: var(--primary-color);
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --primary-color: #0d7a74;
  --secondary-color: #fcd91a;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #808080;
  --semi-dark: #3B3B3B;
  --semi-light: #F7F7F7;
  --primary-filter: invert(62%) sepia(96%) saturate(215%) hue-rotate(135deg) brightness(81%) contrast(85%);
  --light-filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(123deg) brightness(110%) contrast(101%);
  --secondary-filter: invert(80%) sepia(93%) saturate(799%) hue-rotate(336deg) brightness(98%) contrast(102%);
}

body {
  background-color: var(--semi-light);
}

.navbar {
  width: 100%;
  padding: 3px 0px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .brand-name img {
  width: 100px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .contain .login-user {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .contain .login-user span {
  color: var(--light-color);
  font-size: 14px;
  font-weight: 700;
}
.navbar .contain .login-user .image-content {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.navbar .contain .login-user img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--primary-filter);
}
.navbar .contain .login-user:hover span {
  color: var(--secondary-color);
}
.navbar .contain .login-user:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
  filter: var(--secondary-filter);
}

.bottom-nav {
  width: 100%;
  padding: 2px 0px;
  background-color: var(--semi-dark);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.bottom-nav .contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.bottom-nav .contain .bottom-nav-list {
  display: flex;
  align-items: center;
  align-content: center;
  width: 50%;
}
.bottom-nav .contain .bottom-nav-list li {
  width: 50%;
}
.bottom-nav .contain .bottom-nav-list li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.bottom-nav .contain .bottom-nav-list li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
}
.bottom-nav .contain .bottom-nav-list li a .image-content {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(13, 122, 116, 0.1);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 5px;
}
.bottom-nav .contain .bottom-nav-list li a img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--primary-filter);
}
.bottom-nav .contain .bottom-nav-list li a span {
  font-size: 11px;
  font-weight: 500;
  position: relative;
}
.bottom-nav .contain .bottom-nav-list li a span.light {
  color: var(--light-color);
}
.bottom-nav .contain .bottom-nav-list li a span.primary {
  color: var(--secondary-color);
}
.bottom-nav .contain .bottom-nav-list li a span.number {
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--secondary-color);
  position: absolute;
  top: -10px;
  left: -2px;
  border-radius: 50%;
}
.bottom-nav .contain .bottom-nav-list li a:hover img {
  -webkit-animation: tada 0.3s linear;
          animation: tada 0.3s linear;
  filter: var(--secondary-filter);
}
.bottom-nav .contain .bottom-nav-list:last-child {
  width: 50%;
}

header {
  width: 100%;
  padding: 200px 0px;
  min-height: 100vh;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/footer_pattern.png") center/contain no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
header::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 5%;
  background-color: var(--secondary-color);
  z-index: -1;
}
header .contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
header .contain .brand-name img {
  width: 250px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .contain p {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  margin: 25px 0px;
}
header .contain .button-list {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
header .contain .button-list li {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
header .contain .button-list li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
header .contain .button-list li a {
  width: 100px;
  height: 100px;
  border: 1px dashed var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: var(--light-color);
  position: relative;
  z-index: 9;
  border-radius: 10px;
}
header .contain .button-list li a span {
  font-size: 17px;
  font-weight: 700;
  color: var(--light-color);
  display: block;
  margin-top: 2px;
}
header .contain .button-list li a::after {
  content: "";
  position: absolute;
  top: -2px;
  z-index: -1;
  transition: all 0.3s linear;
  width: 50px;
  height: 50px;
  border-top: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  right: -2px;
  border-radius: 0px 10px 0px 0px;
}
header .contain .button-list li a:hover::after {
  width: 70px;
  height: 70px;
}

.announcements {
  width: 100%;
  padding: 60px 0px 20px;
  border-bottom: 2px solid var(--light-color);
}
.announcements img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.announcements .swiper-wrapper {
  padding: 0px 0px 30px;
}
.announcements .swiper-slide {
  padding: 0px 10px;
}
.announcements .search-box {
  width: 100%;
  height: 40px;
  position: relative;
}
.announcements .search-box .form-group {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px;
}
.announcements .search-box .form-group .search-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
  z-index: 9;
  padding: 0px;
}
.announcements .search-box .form-group .search-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.announcements .search-box .form-group .form-control {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 25px;
  background-color: var(--light-color);
  border: 1px solid var(--gray-color);
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}
.announcements .search-box .form-group .form-control::-moz-placeholder {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
}
.announcements .search-box .form-group .form-control:-ms-input-placeholder {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
}
.announcements .search-box .form-group .form-control::placeholder {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
}
.announcements .buttons-contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 15px;
}
.announcements .buttons-contain .custom-btn {
  padding: 0px 10px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--light-color);
  position: relative;
  z-index: 9;
  border: 0px !important;
  overflow: hidden;
}
.announcements .buttons-contain .custom-btn:first-child {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.announcements .buttons-contain .custom-btn span {
  font-size: 11px;
  font-weight: 500;
  line-height: 25px;
  vertical-align: middle;
  color: var(--dark-color);
}
.announcements .buttons-contain .custom-btn::after, .announcements .buttons-contain .custom-btn::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
  transition: all 0.3s linear;
  background-color: #AEAEAE;
}
.announcements .buttons-contain .custom-btn::after {
  left: 0;
}
.announcements .buttons-contain .custom-btn::before {
  right: 0;
}
.announcements .buttons-contain .custom-btn.active::after, .announcements .buttons-contain .custom-btn.active::before {
  background-color: var(--primary-color);
}
.announcements .buttons-contain .custom-btn.active span {
  color: var(--light-color);
}
.announcements .buttons-contain .custom-btn.active:hover {
  border: 1px solid var(--primary-color) !important;
}
.announcements .buttons-contain .custom-btn.active:hover span {
  color: var(--primary-color);
}
.announcements .buttons-contain .custom-btn:hover {
  border: 1px solid #AEAEAE !important;
}
.announcements .buttons-contain .custom-btn:hover::after, .announcements .buttons-contain .custom-btn:hover::before {
  width: 0px;
}
.announcements .buttons-contain .custom-btn:hover span {
  color: var(--gray-color);
}
.announcements .buttons-contain .flex-button {
  display: flex;
  align-items: center;
  align-content: center;
}
.announcements .buttons-contain .flex-button .custom-btn.green-btn {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.heading {
  width: 100%;
  padding: 60px 0px 20px;
}
.heading h1 {
  color: #CA2637;
  text-align: center;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 900;
}

.products {
  width: 100%;
  padding: 0px 0px 40px;
}

.map {
  width: 100%;
  padding: 10px 0px 80px;
}
.map .map-contain {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 9;
}
.map .map-contain iframe {
  width: 100%;
  height: 100%;
}
.map .map-contain .product-box {
  position: absolute;
  bottom: 40px;
  left: 2.5%;
  width: 95%;
  z-index: 99;
  background-color: var(--semi-light);
  border-radius: 10px !important;
  padding: 0px 5px;
}

.product-box {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 2px solid var(--light-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.product-box .image-content {
  width: 120px;
  position: relative;
  z-index: 9;
}
.product-box .image-content .product-img {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 10px;
}
.product-box .image-content .rate {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.product-box .image-content .rate span {
  color: var(--dark-color);
  font-size: 10px;
  font-weight: 500;
}
.product-box .image-content .rate .rating {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.product-box .image-content .rate .rating input {
  position: relative;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 9;
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}
.product-box .image-content .rate .rating input:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.product-box .image-content .rate .rating input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/star.svg") center/contain no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
  filter: invert(70%) sepia(95%) saturate(1%) hue-rotate(7deg) brightness(102%) contrast(103%);
}
.product-box .image-content .rate .rating input.active::before, .product-box .image-content .rate .rating input.active ~ input::before, .product-box .image-content .rate .rating input:checked::before, .product-box .image-content .rate .rating input:checked ~ input::before, .product-box .image-content .rate .rating input:hover::before, .product-box .image-content .rate .rating input:hover ~ input::before {
  filter: var(--secondary-filter);
}
.product-box .image-content .rate .rating label {
  display: flex;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 0px 5px 0px 0px;
}
.product-box .image-content .rate .rating label:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.product-box .image-content .rate .rating label:hover, .product-box .image-content .rate .rating label.active {
  filter: var(--secondary-filter);
}
.product-box .image-content .rate .rating label:hover ~ label, .product-box .image-content .rate .rating label.active ~ label {
  filter: var(--secondary-filter);
}
.product-box .contain {
  width: calc(100% - 120px);
  padding: 10px;
}
.product-box .contain .flex-data {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.product-box .contain .flex-data h2 {
  font-size: 15px;
  font-weight: 900;
  margin: 0px;
  color: var(--primary-color);
}
.product-box .contain .flex-data .fav-btn {
  width: 20px;
  height: 20px;
  display: flex;
}
.product-box .contain .flex-data .fav-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--gray-color);
}
.product-box .contain .flex-data .fav-btn img.fill-heart {
  display: none;
}
.product-box .contain .flex-data .fav-btn:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}
.product-box .contain .flex-data .fav-btn.active img {
  filter: invert(18%) sepia(49%) saturate(3588%) hue-rotate(337deg) brightness(115%) contrast(92%);
}
.product-box .contain .flex-data .fav-btn.active img.fill-heart {
  display: block;
}
.product-box .contain .flex-data .fav-btn.active img.border-heart {
  display: none;
}
.product-box .contain p {
  margin: 19px 0px;
  font-size: 11px;
  font-weight: 500;
  color: var(--dark-color);
}
.product-box .contain .list {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid var(--gray-color);
}
.product-box .contain .list .data {
  font-size: 9px;
  font-weight: 500;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.product-box .contain .list .data.green {
  color: var(--primary-color);
}
.product-box .contain .list .data.red {
  color: #CA2637;
}
.product-box .contain .list .time {
  font-size: 10px;
  font-weight: 500;
  color: var(--dark-color);
}
.product-box .contain .list img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-box:hover {
  transform: translateY(-3px);
}
.product-box:hover h2 {
  color: var(--secondary-color) !important;
}

.modal {
  transform: translateY(20px) translateX(-3px);
  transition: all 0.3s linear;
  overflow: hidden;
  padding: 0px;
  margin: 0px 10px;
}
.modal.show {
  transform: translateY(0px) translateX(-3px) !important;
}
.modal .modal-dialog {
  width: 100%;
  margin: 0px;
}
.modal .modal-dialog .modal-content {
  border-radius: 0px;
  border: 0px;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 20px 30px;
  position: relative;
  z-index: 9;
}
.modal .modal-dialog .modal-content .modal-body .close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
}
.modal .modal-dialog .modal-content .modal-body .close-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--primary-filter);
}
.modal .modal-dialog .modal-content .modal-body .close-btn:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}
.modal .modal-dialog .modal-content .modal-body h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 900;
}
.modal .modal-dialog .modal-content .modal-body .form-contain {
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data label {
  width: 95px;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0px;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group {
  margin-bottom: 0px;
  width: calc(100% - 95px);
  height: 35px;
  position: relative;
  z-index: 9;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group.text-area {
  height: 80px;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group.text-area .form-control {
  border-radius: 10px;
  resize: none;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group.select-options::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../images/down_arrow.svg") center/contain no-repeat;
  top: calc(50% - 7.5px);
  left: 5px;
  z-index: 9;
  pointer-events: none;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group .form-control {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-color);
  background-color: var(--light-color);
  font-size: 13px;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group .form-control::-moz-placeholder {
  color: var(--gray-color);
  font-size: 13px;
  font-weight: 500;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group .form-control:-ms-input-placeholder {
  color: var(--gray-color);
  font-size: 13px;
  font-weight: 500;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .form-data .form-group .form-control::placeholder {
  color: var(--gray-color);
  font-size: 13px;
  font-weight: 500;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .button-contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn {
  width: 150px;
  height: 50px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--light-color);
  position: relative;
  z-index: 9;
  overflow: hidden;
  border: 1px solid var(--semi-light);
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn::after, .modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
  transition: all 0.3s linear;
  background-color: var(--semi-light);
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn::after {
  left: 0;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn::before {
  right: 0;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn:hover::after, .modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn:hover::before {
  width: 0px;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .custom-btn:hover span {
  color: var(--primary-color);
}
.modal .modal-dialog .modal-content .modal-body .form-contain .link {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .link.forget-link {
  color: var(--dark-color);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-color) !important;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .link.red-link {
  color: #CA2637;
  padding-top: 10px;
  border-top: 1px solid var(--gray-color) !important;
}
.modal .modal-dialog .modal-content .modal-body .form-contain .link.new-account {
  color: var(--primary-color);
}
.modal .row-shape {
  width: calc(100% - 74px);
}
.modal .full-width {
  width: 100% !important;
}
.modal .bg-dark-shape .form-control {
  border-color: #E8E8E8 !important;
  background-color: #E8E8E8 !important;
  color: var(--dark-color) !important;
}
.modal .bg-dark-shape .form-control::-moz-placeholder {
  color: var(--dark-color) !important;
}
.modal .bg-dark-shape .form-control:-ms-input-placeholder {
  color: var(--dark-color) !important;
}
.modal .bg-dark-shape .form-control::placeholder {
  color: var(--dark-color) !important;
}/*# sourceMappingURL=style.css.map */